[submodule ".config/i3blocks/i3blocks-contrib"]
	path = .config/i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule ".config/i3blocks/i3blocks"]
	path = .config/i3blocks/i3blocks
	url = https://github.com/Anachron/i3blocks
