# Ignore everything
/*
!.gitignore
!.gitmodules
!.gitconfig

# Except for the files and folders we want to track
!.bashrc
!.zshrc
!.tmux.conf
!.xprofile
!.Xresources
!.config
!.tmux
!.tmux.config
!.bazelrc
!.fzf*
!.p10k.zsh
!.Xclients
!.Xresources
!.xinitrc
!.xmodmap